<main>
    <article id="word-puzzel">
        <div id="word-puzzel-container">
            <hr>
            <!-- <span class="close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span> -->
            <div id="puzzel-wrapper">
                <div id="definition-section-container" class="">
                    <h3>Definition of the word</h3>
                    <p>- <i>{{definition}}</i></p>
                </div>
                <div id="given-letters-container">
                    <ul id="given-letters-list">
                        {{#each shuffledTerm}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div id="answer-container">
                    <form action="/wordPuzzle" id="wordPuzzle">
                        <div class="form-group">
                            <label for="answer">Answer:</label>
                            <input type="text" name="answer" id="answer" placeholder="The word is ...">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn" id="submit-word-answer">Submit</button>
                        </div>
                    </form>
                    <div id="resultContainer"></div>
                </div>
                <div id="correctAnswer"></div>
                <hr>
                <div id="buttons-container">
                    <button class="btn" id="tryAnotherOne" name="tryAnotherOne">Try another one</button>
                    {{!-- <button class="btn" id="play-synonym">Play Synonym</button> --}}
                </div>
            </div>
            
            <hr>
            <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <span>KIYA</span> @ 2017</p>
        </div>
    </article>
</main>