<main>
    <article id="word-puzzel">
        <div id="word-puzzel-container">
            <hr>
            <!-- <span class="close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span> -->
            <div id="puzzel-wrapper">
                <div id="definition-section-container" class="">
                    <h3>Definition of the word</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque eos nulla similique facilis quidem error incidunt, voluptates corrupti nesciunt magnam consequuntur deserunt ipsa doloremque at eum nobis saepe delectus explicabo.</p>
                </div>
                <div id="given-letters-container">
                    <ul>
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                        <li>D</li>
                    </ul>
                </div>
                <div id="answer">
                    <form action="">
                        <div class="form-group">
                            <label for="answer">Answer:</label>
                            <input type="text" name="answer" id="answer" placeholder="The word is ...">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn" id="submit-word-answer">Submit</button>
                        </div>
                    </form>

                </div>
                <hr>
                <div id="buttons-container">
                    <button class="btn" id="reset" name="reset">Try another one</button>
                    <button class="btn" id="play-synonym">Play Synonym</button>
                </div>
            </div>
            <div id="game-timer"></div>
            <div id="resultContainer"></div>
            <hr>
            <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <span>KIYA</span> @ 2017</p>
        </div>
    </article>
</main>